<!DOCTYPE html>
<html>
<head>
    <title>Lista Tareas</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <script src="https://unpkg.com/vue"></script>
</head>

<body class="container">

    <div id="app" class="jumbotron"> 
        <h2>{{ titulo }}</h2>
        <div class="input-group">

        <input type="text" placeholder="Escribe nueva tarea" v-model="nuevaTarea" class="form-control" @keyup.enter="agregarTarea">
        <span class="inpit-group-btn"></span>
        <button type="button" v-on:click="agregarTarea()" class="btn btn-primary"> Agregar</button>
    </div>

        <ul class="list-group">
            <li v-for="(tarea, indice) of tareas" class="list-group-item" v-bind:class="{terminada: tarea.terminada}">
                {{ tarea.texto }}
                <span class = "float-right">
                    <button  type="button" class="btn btn-success btn-xs"  @click="tarea.terminada = !tarea.terminada"><i class="bi bi-check-lg"></i></button>
                    <button  type="button" class="btn btn-danger btn-xs" @click="borrar(indice)"  ><i class="bi bi-x-lg"></i></button>
                </span>
            </li> 
        </ul>
    </div>

    <script src="aplicacion_lista_tareas.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>